/* general */
html {
    height: 100%;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    background-color: #0F0F0F;
    color: whitesmoke;
    padding: 0;
    margin: 0;
    height: 100%;
}
header {
    display: flex;
    flex-direction: row;
}
button {
    padding: 10px 7.5px;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    width: fit-content;
}
button a {
    text-decoration: none;
    color: #0F0F0F;
}
.main {
    display: flex;
    flex-direction: column;
    margin-left: 45px;
    margin-bottom: 30px;
    flex: 1;
}
::-webkit-scrollbar-thumb {
    background-color: #FE9B13;
}
/* nav */
.navbar {
    display: flex;
    flex-direction: row;
    margin-left: 45px;
    width: 100%;
    justify-content: flex-end;
    border-bottom: 1px solid #FE9B13;
}
.navbar ul {
    display: flex;
    margin: auto 0; 
    width: 100%;
    list-style: none; 
}
.navbar li {
    display: flex;
    flex: 1;
    margin: 7.5px;
}
.navbar li:first-child{
    flex: 5;
}
.navbar a, .navbar span {
    color: whitesmoke;
    cursor: pointer;
    text-decoration: none;  
    font-size: 0.9rem;
    margin: auto 0;
    text-transform: uppercase;
    -webkit-transition: color 0.3s ease-in-out;
}

.navbar a:hover, .navbar span:hover {
    color: #FE9B13;
}
.logo {
    font-size: 2rem;
}

.navbar .submenu {
    display: none;
    position: absolute;
    margin-top: 40px;
    margin-left: -20px;
    width: 80px;
    list-style: none;
    background-color: #0F0F0F;
    text-align: center;
    border: 1px solid #FE9B13;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.submenu li {
    margin: 0 auto;
    padding: 5px 0;
    float: left;
    width: 100%;
}
.submenu a {
    text-align: center;
}
.navbar .submenu .subsubmenu {
    display: none;
    position: absolute;
    background-color: rgb(0, 0, 0);
    margin-left: 81px;
    margin-top: -10px;
    width: 90px;
    border: solid 1px  #FE9B13;
    border-radius: 10px;
    border-top-left-radius: 0px;


}
.subsubmenu li {
    list-style: none;
}
.subsubmenu a:hover {
    color: #FE9B13;
}

/* sidenav */
.sidenav {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    width: 45px;
    height: 100vh;
    background-color: #FE9B13;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 1.3rem;
    overflow: hidden;
    transition: ease-out 0.3s;
    
}
.sidenav .cross {
    float: right;
}
.sidenav table {
    text-align: left;
    border-collapse: collapse;
    margin-top: 40px;
}
.sidenav table td {
    padding: 10px;
    cursor: pointer;
}
.sidenav table tr:hover {
    color: rgb(0, 0, 0);
}
.sidenavlogo {
    font-size: 2.3rem;
    margin-top: 10px;
}
.sidenav:hover {
    width: 200px;
}

/* footer */
footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0);
    color: rgb(129, 129, 129);
    padding: 5px;
    margin-left: 50px;
}
.footer-sektions {
    display: flex;
    flex-direction: row;
}
footer .about-us {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 5px;
}
.about-us h3 {
    margin: 2.5px 0;
}
footer .about-us p {
    margin: 0;
}
footer .contact {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 5px
}
footer .footermenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1;
    padding: 0 5px
}
.footermenu .navlinks  {
    display: flex;
    flex-direction: column;
}
.footermenu ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;

}
.footermenu a {
    text-decoration: none;
    color: rgb(129, 129, 129); 
}
.footermenu a:hover {
    color: white;
}
footer h4, footer h3 {
    margin: 0 0 5px 0;
    padding: 0;
    color: rgb(255, 255, 255);
}
footer .copyright {
    color: rgb(129, 129, 129); 
    margin-top: 10px;
    text-align: center; 

}
footer .copyright a {
    color: rgb(255, 255, 255);   
}
footer .contact {
    display: flex;
    flex: 1;
    padding: 0 10px;
}
@media screen and (max-width: 756px) {
    .navbar li:first-child {
        flex: 1;
    }
    footer {
        flex-direction: column;
        justify-content: center;
    }
    footer .footermenu {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    footer .footermenu h4 {
        margin: 10px 0px 0px;
    }

}